@import "../../../../public/assets/scss/base/variables";

.apartment {
  $this: &;

  #{$this}__content {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;

    #{$this}__imageWrapper {
      & img {
        max-height: 100%;
        max-width: 100%;
        min-height: 100%;
        min-width: 100%;
      }
    }

    & table {
      border: 1.5px solid rgba(0, 0, 0, 0.788);
      color: rgba(0, 0, 0, 0.788);
      font-size: 1vw;

      & > * > * {
        padding: 0.5vw 0.5vw;
        border: 1.5px solid rgba(0, 0, 0, 0.788);
      }

      & th {
        border: 1.5px solid rgba(0, 0, 0, 0.788);
        font-weight: 900;
      }

      & td {
        font-weight: 500;
      }
    }
  }
}
